<footer class="footer-container d-flex justify-content-center mt-5" style="background-color: #dff1f085;">
    <div class="row" style="max-width: 100%;">
        <div class="col">
            <a class="title-footer" href="/"><img class="title-footer" src="./assets/logox.png" alt=""></a>
            <div class="nav-footer"><a href="">Did you come here for something in particular or just general
                    Riker</a></div>
        </div>
        <div class="col-sm">
            <div class="title-footer"><a href="">Blogs</a></div>
            <div class="nav-footer"><a href="">Travel</a></div>
            <div class="nav-footer"><a href="">Technology</a></div>
            <div class="nav-footer"><a href="">Lifestyle</a></div>
            <div class="nav-footer"><a href="">Fashion</a></div>
            <div class="nav-footer"><a href="">Business</a></div>
        </div>
        <div class="col-sm">
            <div class="title-footer"><a href="">Quick Links</a></div>
            <div class="nav-footer"><a href="">FAQ</a></div>
            <div class="nav-footer"><a href="">Terms & Conditions</a></div>
            <div class="nav-footer"><a href="">Support</a></div>
            <div class="nav-footer"><a href="">Privacy Policy</a></div>
        </div>
        <div class="col-sm">
            <div class="title-footer"><a href="">Subscribe For Newsletters</a></div>
            <div>
                <input type="text" placeholder="Your Email" class="input-footer">
            </div>
            <div><button type="button" class="footer-button" style="margin-top: 8px;">Subscribe</button></div>
            <div class="title-footer follow" style="margin-top: 1vw !important;margin-bottom: 1vw !important;"><a
                    href="">Follow On:</a></div>
            <div class="author-social-media-icons-section"><span class="author-social-media-icon"><i
                        class="fa-brands fa-facebook"></i></span><span class="author-social-media-icon"><i
                        class="fa-brands fa-twitter"></i></span><span class="author-social-media-icon"><i
                        class="fa-brands fa-instagram"></i></i></span></div>
        </div>

    </div>
    </div>
</footer>