<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="second-image">
        <a class="navbar-brand" href="#">
            <img src="/assets/logox.png" height="30vw" alt="">
        </a>
    </div>

    <div class="collapse navbar-collapse" id="yourNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
                    <a class="dropdown-item" href="/categories/Travel">Travel</a>
                    <a class="dropdown-item" href="/categories/Food and Cooking">Food and Cooking</a>
                    <a class="dropdown-item" href="/categories/Fashion and Beauty">Fashion and Beauty</a>
                    <a class="dropdown-item" href="/categories/Lifestyle">Lifestyle</a>
                    <a class="dropdown-item" href="/categories/Fitness and Health">Fitness and Health</a>
                    <a class="dropdown-item" href="/categories/Technology">Technology</a>
                    <a class="dropdown-item" href="/categories/Finance and Investing">Finance and Investing</a>
                    <a class="dropdown-item" href="/categories/Parenting">Parenting</a>
                </div>
            </li>
          
        </ul>
        <div class="first-image">
            <a class="navbar-brand" href="/">
                <img src="/assets/logox.png" height="30vw" alt="">
            </a>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/editBlog"><img src="/assets/write.png" alt=""></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact-us">Contact</a>
            </li>
            <% if (isAuthenticated) { %>
                <li class="nav-item">
                    <div class="avatar" style="display: flex;">
                        <span style="display: flex;" class="initial"><i style="margin-right: 6px; padding-top: 2px;" class="fa-solid fa-user"></i><%= user.name.split(' ')[0].toUpperCase() %></span>
                    </div>
                </li>
                <li class="nav-item">
                    <i style="padding-top: 10px; margin-left: 10px; color: #00aaa1; font-size: 1.3vw; cursor: pointer;" class="fa-solid fa-right-from-bracket" onclick="window.location.href='/logout'"></i>
                </li>
            <% } else { %>
                <div style="display: flex; flex-direction: column;">
                    <li>
                        <button class="button-3" onclick="window.location.href='/signup'" role="button">Sign Up As An Author</button>
                    </li>
                    <a style="font-size: 0.8vw;" href="/signin">Already Have An Account?</a>
                </div>
            <% } %>
        </ul>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#yourNavbar" aria-controls="yourNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
