<body>
    
    <div class="image-container">
        <img class="blog-cover-image" src="/assets/home-cover.jpg" alt="">
        
        <p  data-aos="fade-up" data-aos-duration="3000" style="color: white;left: 5%; " class="intro-text">&nbsp;&nbsp;Join Our Blogging Community</p>
        <p   class="typewriter-text" id="typewriter"></p>
        <!-- HTML !-->
        <button  class="button-68 ubtn" role="button" onclick="location.href='/editBlog'" style="background-color: white; color: rgb(3, 155, 92);">Start Your Journey</button>
    </div>

    <div id="cookie-consent" class="cookie-consent hidden">
        <p>We use cookies to improve your experience. By using our site, you accept our use of cookies.</p>
        <button id="accept-cookies">Accept Cookies</button>
    </div>
    <div class="feature-this-month">
        <div class="left-feature-this-month">
            <h1 class="title-this-month"><span class="feature-word">Feature</span>&nbsp;This Month</h1>


        </div>
        <div class="right-feature-this-month">
            <h1 class="title-this-month recently"><span class="feature-word">Featured</span>&nbsp;Posted</h1>




        </div>
    </div>
    <div class="main-blogs-section">

        <div class="left-main-blogs-section">
            <h1 class="title-this-month recently"><span class="feature-word">Recently</span>&nbsp;Posted</h1>
            <div class="sub-main-blogs-section">


            </div>
            <div style="margin-top: 5vw;" class="page-navigation-buttons"><button class="prev-button" type="button"><i
                        class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Prev</button><button class="num-btn"
                    type="button">1</button>
                <button class="num-btn" type="button">2</button>
                <button class="num-btn" type="button">3</button>
                <button class="next-button" type="button">Next &nbsp;&nbsp;&nbsp;<i
                        class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>


        <div class="right-main-blogs-section">
            <h1 class="title-this-month right_main"><span class="feature-word">Top</span>&nbsp;Authors</h1>
            <div class="author_section">
                <img class="author_section_author_image" src="./assets/author.png" alt="">
                <div class="author-details">
                    <h2 class="author-name">Nomi</h2>
                    <h4 class="author-designation">Fashion designer, Blogger, activist</h3>
                        <h4 class="author_address">designer at: <span class="author_web">www.gethugothemes.com</span>
                        </h4>
                        <div class="author-social-media-icons-section"><span class="author-social-media-icon"><i
                                    class="fa-brands fa-facebook"></i></span><span class="author-social-media-icon"><i
                                    class="fa-brands fa-twitter"></i></span><span class="author-social-media-icon"><i
                                    class="fa-brands fa-instagram"></i></i></span></div>
                </div>
            </div>
            <div class="author_section">
                <img class="author_section_author_image" src="./assets/author.png" alt="">
                <div class="author-details">
                    <h2 class="author-name">Sherry</h2>
                    <h4 class="author-designation">Fashion designer, Blogger, activist</h3>
                        <h4 class="author_address">designer at: <span class="author_web">www.gethugothemes.com</span>
                        </h4>
                        <div class="author-social-media-icons-section"><span class="author-social-media-icon"><i
                                    class="fa-brands fa-facebook"></i></span><span class="author-social-media-icon"><i
                                    class="fa-brands fa-twitter"></i></span><span class="author-social-media-icon"><i
                                    class="fa-brands fa-instagram"></i></i></span></div>
                </div>
            </div>
            <div class="author_section">
                <img class="author_section_author_image" src="./assets/author.png" alt="">
                <div class="author-details">
                    <h2 class="author-name">Harry</h2>
                    <h4 class="author-designation">Fashion designer, Blogger, activist</h3>
                        <h4 class="author_address">designer at: <span class="author_web">www.gethugothemes.com</span>
                        </h4>
                        <div class="author-social-media-icons-section"><span class="author-social-media-icon"><i
                                    class="fa-brands fa-facebook"></i></span><span class="author-social-media-icon"><i
                                    class="fa-brands fa-twitter"></i></span><span class="author-social-media-icon"><i
                                    class="fa-brands fa-instagram"></i></i></span></div>
                </div>
            </div>
            <div class="right-contact-section">
                <p class="right-contact-section-bold-text">Want To Travel Sikkim By Car?</p>
                <p class="right-contact-section-light-text">Did you come here for something in particular or just
                    general Riker-bashing? <br> And blowing into</p>
                <button type="button" onclick="window.location.href='https://car.com'"
                    class="contact-right-button">Visit Us</button>
            </div>
            <div class="categories-section-right">
                <h1 class="title-this-month category"><span class="feature-word">Categories</h1>
                <div class="category-sub-section">
                    <div class="category-sub-section-details"><span class="category-sub-section-category"
                            style="padding-top: 0px;">Lifestyle</span><span
                            class="category-sub-section-number">09</span>
                    </div>
                    <div class="category-sub-section-details"><span
                            class="category-sub-section-category">Travel</span><span
                            class="category-sub-section-number">05</span></div>
                    <div class="category-sub-section-details"><span
                            class="category-sub-section-category">Food</span><span
                            class="category-sub-section-number">09</span></div>
                    <div class="category-sub-section-details"><span
                            class="category-sub-section-category">Healthcare</span><span
                            class="category-sub-section-number">10</span></div>
                    <div class="category-sub-section-details"><span
                            class="category-sub-section-category">Technology</span><span
                            class="category-sub-section-number">03</span></div>
                </div>
            </div>
            <div class="todays-update-section">
                <h1 class="title-this-month right_main"><span class="feature-word">Today's</span>&nbsp;Update</h1>
                <div class="sub-todays-update-section">
                    <div class="sub-todays-update-section-number">
                        <span class="update-number">14 <br><span class="update-number-text">New Posts</span></span>
                    </div>
                    <div class="sub-todays-update-section-number">
                        <span class="update-number">480 <br><span class="update-number-text">Total
                                Visitors</span></span>
                    </div>
                    <div class="sub-todays-update-section-number">
                        <span class="update-number">29 <br> <span class="update-number-text">New
                                Subscribers</span></span>
                    </div>
                    <div class="sub-todays-update-section-number">
                        <span class="update-number">130</span> <br> <span class="update-number-text">Blogs
                            Read</span></span>
                    </div>

                </div>
            </div>
            <div class="instagram-section">
                <h1 class="title-this-month right_main"><span class="feature-word">Instagram</span>&nbsp;Posts</h1>
                <div class="sub-instagram-section">
                    <img class="instagram-section-image" src="./assets/insta.png" alt=""
                        onclick="window.open('https://www.instagram.com', '_blank')">
                    <img class="instagram-section-image" src="./assets/insta.png" alt=""
                        onclick="window.open('https://www.instagram.com', '_blank')">
                    <img class="instagram-section-image" src="./assets/insta.png" alt=""
                        onclick="window.open('https://www.instagram.com', '_blank')">
                    <img class="instagram-section-image" src="./assets/insta.png" alt=""
                        onclick="window.open('https://www.instagram.com', '_blank')">
                    <img class="instagram-section-image" src="./assets/insta.png" alt=""
                        onclick="window.open('https://www.instagram.com', '_blank')">
                    <img class="instagram-section-image" src="./assets/insta.png" alt=""
                        onclick="window.open('https://www.instagram.com', '_blank')">
                    <img class="instagram-section-image" src="./assets/insta.png" alt=""
                        onclick="window.open('https://www.instagram.com', '_blank')">
                    <img class="instagram-section-image" src="./assets/insta.png" alt=""
                        onclick="window.open('https://www.instagram.com', '_blank')">
                    <img class="instagram-section-image" src="./assets/insta.png" alt=""
                        onclick="window.open('https://www.instagram.com', '_blank')">

                </div>
            </div>

        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./jquery.js"></script>
    <script src="./main.js"></script>
    <script>document.addEventListener('DOMContentLoaded', () => {
            const cookieConsent = document.getElementById('cookie-consent');
            const acceptCookiesBtn = document.getElementById('accept-cookies');

            if (document.cookie.split(';').some((item) => item.trim().startsWith('showCookiePrompt='))) {
                cookieConsent.classList.remove('hidden');
            }

            acceptCookiesBtn.addEventListener('click', () => {
                document.cookie = "cookieConsent=true; path=/; max-age=" + 60 * 60 * 24 * 365; // 1 year
                cookieConsent.classList.add('hidden');
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            const texts = ["Creative Writing", "Personal Stories", "Expert Opinions", "Travel Diaries"];
            let count = 0;
            let index = 0;
            let currentText = '';
            let letter = '';
            const typewriterElement = document.getElementById('typewriter');
            let isDeleting = false;

            function type() {
                if (count === texts.length) {
                    count = 0;
                }
                currentText = texts[count];

                if (isDeleting) {
                    letter = currentText.slice(0, --index);
                } else {
                    letter = currentText.slice(0, ++index);
                }

                typewriterElement.textContent = letter;
                typewriterElement.style.opacity = 1;

                if (!isDeleting && letter.length === currentText.length) {
                    setTimeout(() => {
                        isDeleting = true;
                        setTimeout(type, 100); // Start deleting
                    }, 2000); // Pause before starting to delete
                } else if (isDeleting && letter.length === 0) {
                    isDeleting = false;
                    count++;
                    setTimeout(type, 500); // Start typing next word
                } else {
                    setTimeout(type, isDeleting ? 50 : 100); // Adjust speed for typing and deleting
                }
            }

            type();
        })
    </script>
</body>